<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div ng-controller="mainController">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
             close="closeAlert($index)">{{alert.msg}}
        </div>

        <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>

        <button type="button" class="btn btn-primary" ng-click="requestDate()">Request data</button>

        <div class="table">

            <div class=" table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div uib-pagination class="pagination-sm"
                 boundary-links="true"
                 total-items="pagingData.count"
                 max-size="pagingData.pagingMaxSize"
                 items-per-page="pagingData.itemsPerPage"
                 ng-model="pagingData.currentPage"
                 previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                 ng-change="pageChange()">

            </div >

        </div>
    </div>
</div>
